[Unit]
Description=Prgmr script to refresh keys and perform final cleanup

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/prgmr-on-init-launch.sh
#Environment=SYSTEMD_LOG_LEVEL=debug

[Install]
WantedBy=multi-user.target
#WantedBy=runlevel1.target
